.header__menu {
    background: $orange;
    padding: 0.5rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        a{
            display: flex;
            align-items: center;
            color: $white;
            font-style: 14px;
            margin-left: 4px;
            &:hover {
                color: $yellow;
            }
        }
    }
}